.navbar {
  background-color: var(--black2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17.3px 23.3px;
}

.navbar__logo {
  width: 147.3px;
  height: 25.3px;
}
