@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-Black) format("ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-ExtraBold) format("ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-Bold) format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-SemiBold) format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-Medium) format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-Regular) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-Light) format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-ExtraLight) format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-Thin) format("ttf");
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
