:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black1: #111111;
  --black2: #0b0b0b;

  --black3: #272727;

  --white1: #ffffff;

  --white2: #65717c;
  --white3: #777777;
  --white4: #f9f9f9;
  --white5: #748aa1;
  --white6: #cccccc;

  --red1: #f9000e;
  --red2: #ff0000;
}
